.app
  // pixelperfect './bg.png'
  width 100%
  margin 0 auto
  box-sizing border-box
  padding 2rem 3.6rem
  display flex
  flex-flow column nowrap
  justify-content space-between
  position relative
  +width-lessthan(1024)
    text-align center

.container
  width 100%
  max-width 1600px
  margin 0 auto
  min-height 100%
  display flex
  flex-flow column nowrap
